<div class="panel panel--light common-search">
    <div class="flex flex-wrap">
        <div class="form-group input--icon flex-grow-1">
            <div class="form-group__text">
                <input id="sav-id" type="search">
                <label for="sav-id">SAV ID</label>
                <button type="button" class="link">
                <span class="icon-search"></span>
                </button>
            </div>
        </div>

        <div class="form-group input--icon flex-grow-1">
            <div class="form-group__text">
                <input id="customer-name" type="search">
                <label for="customer-name">Customer Name</label>
                <button type="button" class="link">
                    <span class="icon-search"></span>
                    </button>
            </div>
        </div>
        <div class="form-group input--icon flex-grow-1">
            <div class="form-group__text">
                <input id="region" type="search">
                <label for="region">Region</label>
                <button type="button" class="link">
                    <span class="icon-search"></span>
                    </button>
            </div>
        </div>
        <div class="form-group input--icon flex-grow-1">
            <div class="form-group__text">
                <input id="account-manager" type="search">
                <label for="account-manager">Account Manager</label>
                <button type="button" class="link">
                    <span class="icon-search"></span>
                    </button>
            </div>
        </div>

        <div class="form-group base-padding-top">
            <button class="btn btn-primary " type="button">Submit</button>
        </div>

    </div>
</div>